/* Add CSS styling here */
/*splash image credit 
Zhang Kaiyv


*/
/* Eric Meyer's reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

:focus {
    outline: 0;
}

*{
        box-sizing:border-box;
        padding:0;
        margin: 0;
        max-width: 100%;
       
}
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    background-color: darkblue;
    line-height:1.5;
    color:rgb(8,103,188);
    font-family: 'Sora', sans-serif;
}
a{
    font-family: 'Sora', serif;
    color: #b9e5c6;
    text-decoration: none;
    background-color: rgb(28,133,208,0.5);
    padding: 1%;
    border: 1px solid rgb(104,173,149);
}
nav {
    position: relative;
    width: 100%;
}


h1, h2, h3{
    font-family: 'Roboto Slab', serif;
    color:#b9e5c6;
    text-align:center;
   
}
h1{
    text-align: left;
    color:darkblue;
    font-size:5rem;
    margin-bottom: 4%;
}
h2{
    font-size:3em;
    text-align: left;
    margin-top: 7%;
}

h3{
    font-size:2.5em;
}
p{
    color:#b9e5c6;;
}
/*Wireframe option 1*/
/* header */
header{
    background-image: url("../images/splash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    padding: 3%;
}

.links{
    display:flex;
    margin: 0;
}

div.links a:first-child{
    background-color: darkblue;
}

/* About Section Styles */
section {
    margin: 2% 0%;
}
#two-wide{
    margin-left: 2%;
}

div.about{
    display: flex;
    justify-content: space-between;
    margin: 2% 0%;
}
div.about div{
    width:49%;
}
div.profile {
    padding: 2% 0%;
    background-image: url("https://picsum.photos/200/300");
    background-size: cover;
}

#my-projects{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 1%;
    border: 2px solid rgb(104,173,149);
    margin: 2% 0%;
}
div.about div a{
    color:rgb(104,173,149);
    border: 0px;
    margin: 0%;
    padding: 0%;
    background-color: white;
}
/* body */
.portfolio-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 40vw;
}


div.portfolio-card{
    width: 22%;
    height: 18vw;
    display: flex;
    flex-flow: column nowrap;
    margin: 1vw 0%;
}

img.portfolio-item{
    height: 14vw;
    width: 100%;
}

div.project-title{
    text-align: center;
}
/* Footer Styles */
footer{
    background-color: rgb(104,173,149);
    width:100%;
}
div.contact {
    display:flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: rgb(104,173,149);
    text-align: center;
}

#contact{
    width: 20rem;
    background-color: rgb(17, 27, 36);
    border-radius: 10px;
    padding: 1%;
    border: 2px solid rgb(104, 151, 173);
    margin: 2% 0%;
}

div.contact div a{
    border: 0px;
    background-color: rgb(17, 27, 36);
}


/* small desktop or large tab styles*/
@media(max-width:800px){
    h1{
        color:rgb(0,30,60);
        border-radius: 10px;
        display:inline-block;
        background-color:rgb(186, 226, 245, .5);
    }
}

/* mobile styles */
@media(max-width:500px){
   /* Header Styles */
    header {
        background-image: none;
    }
    h1 {
        background-color: rgb(7, 6, 22);
    }
    h1, .links {
       color:#b9e5c6;
       text-align: center;
    }
    .links{
        flex-direction: column;
        align-items: space-around;
        justify-items: center;
        width:33%;
        margin: 0 auto;
    }
    /* About Section Styles*/
    div.about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.about div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:85%;
        margin: 0 auto;
        height: 50vh;
    }

    /* About Section Styles */
    .about * {
        text-align: center;
    }
    #two-wide{
        margin: 0 auto;
        height: 85%;
    
    }
    .profile {
        line-height: 8;
    }
    div.about div{
        display: flex;
        width: 70%;
        height: 40%;
    }
    div.text p{
        width: 85%
    }
    .about h2{
        line-height: 1;
        font-size: 4rem;
    }
    
    #my-projects{
        margin: 5%;
        color: blue;
        width: 15rem;
        height: 5rem;
    }
    div.about div a{
        color: darkblue;
        font-size: 2rem ;
    }
    
    
    /* Portfolio Section Styles */
    
    .portfolio-container {
        height: 100%;
    }
    div.portfolio-card{
        width: 44%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
    
    img.portfolio-item{
        height: 28vw;
        width: 100%;
    }
    
    .project-title{
        color: white;
        text-align: center;
    }
    /* footer */
    footer .linkedin, footer p, footer h2{
        color: rgb(17, 27, 36);
    }
    
    footer h2, footer h3, #contact a{
        font-size: 20px;
    }

    footer *{
        margin: 0 auto;
    }

    footer{
        height:40vh;
        display: flex;
        align-items: center;
        padding-bottom: 2%;
    }

    #contact{
        display: flex;
        align-items: center;
        line-height: 1;
        width: 50%;
        height: 15vh;
    }
}